@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html {
    background-color: #009fff;
    background-image: linear-gradient(to right, #293742, #182026, #293742);

}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    margin-bottom: 30px !important;
}

h3 {
    font-size: x-large;
}

div {
    font-size: large;
    font-family: 'Work Sans', sans-serif;
}

code {
    color: #48AFF0;
    background-color: #10161A;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: large;
}

li, ul, p {
    font-size: x-large;
    font-family: 'Work Sans', sans-serif;
}

